/*.bak
/*.gcda
/*.gcno
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.DS_Store
/.deps
/.dirstamp
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/ar-lib
/autom4te.cache
/autoscan.log
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/depcomp
/gtkmathview-custom-reader.pc
/gtkmathview-libxml2-reader.pc
/gtkmathview-libxml2.pc
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/mathview-backend-cairo.pc
/mathview-backend-qt.pc
/mathview-core.pc
/mathview-frontend-custom-reader.pc
/mathview-frontend-libxml2-reader.pc
/mathview-frontend-libxml2.pc
/mathview-widget-qt.pc
/missing
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/test-driver
build
install
.DS_Store
.vscode
